@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
}
/*header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}
.logo h2{
  color: black;
}
.hamburger-icon {
  display: none;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-style: hidden;
  background: scroll;
  top: 0;
  width: 100%;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  border-radius: 10px;
}

.menu a:hover 
{
  background-color: gold;
  color: black;
}
.open-btn{
display: none;
}
.close-btn{
  display: none;
}
@media (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 10%;
    height: 6.5rem;
    background-color: #fff;
    text-emphasis-color: black;;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
  }
  .logo h2{
    color: black;
  }
  .logo{
    width: calc(100% - 100px);
    height: auto;
    padding-left: 100px;
}
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    border-style: hidden;
    background: scroll;
    top: 0;
    width: 100%;
}

.menu li {
    float: left;
    padding: 10px;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    &:hover{
      scale: 1;
    }
}

.menu a:hover {
    background-color: transparent;
    color: black;
    border: none;
    transition: 0.5s ease-in-out;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
  z-index: 9999;
}

/* Sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* The "close" button */
.close-btn {
  display: block;
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style for the button that opens the sidebar */
.open-btn {
  display: inline;
  font-size: 20px;
  padding: 10px 20px;
  background-color: transparent;
  text-emphasis-color: black;;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.open-btn:hover {
  background-color: #444;
}
}
/*home*/
section.home{
  display:flex;
  justify-content: center;
  align-items: center;
  min-width: none;
  height:110vh;
  background-image: url(photos/sai.jpg);
  background-size: cover;
  background-position: scroll;
  background-repeat: no-repeat;
}
.home .content h2{
  font-size: 72px;
  color: darkblue;
}
.home .content p{
  font-size: 24px;
  color:black;
  font-weight: bolder;
  margin-top: 20px;
}
.home .content h2 span{
  font-size: 20px;
  color:darkorchid;
}
.about-button a{
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 150px;
  text-align: center;
  font-size: 12px;
}
.about-button a:hover{
  background-color: red;
}
.social-icons{
  margin-top: 20px;
  list-style-type: none;
}
.social-icons li{
  display: inline-block;
  margin: 0 10px;
}
.social-icons a{
  display: inline-block;
  background-color: lightseagreen;
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.social-icons a.github:hover{
  background-color: #0e0e0e;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.instagram:hover {
  background-color: #ee00da;
}
@media 
    (max-width: 768px) {
      section.home.content h2{
        font-size: 36px;
      }
     .home.content p{
      font-size: 24px;
    }
    .home.content h2 span{
      font-size: 20px;
    }
    .social-icons{
      margin-top: 0;
    }
    .social-icons li{
      display: inline-block;
      margin: 0 10px;
    }
    .social-icons a{
      width: 30px;
      height: 30px;
    }
  
}

.about {
  background: rgb(255, 255, 255);
}
.about .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
}
.about .row .image {
  text-align: center;
  flex: 1 1 35rem;
}
.about .row .image img {
  margin: 4rem;
  width: 30rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer;
}
.about .row .image img:hover {
  mix-blend-mode: normal;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}
.about .row .content h3 {
  color: rgb(27, 27, 27);
  font-size: 2.5rem;
}
.about .row .content .tag {
  font-size: 1.4rem;
  color: #020133;
  font-weight: 600;
  margin-top: 1rem;
}
.about .row .content p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
}
.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
}
.about .row .content .box-container .box p {
  text-transform: none;
}
.about .row .content .box-container .box p span {
  color: #011aff;
}
.resumebtn {
  margin-top: 6rem;
}
.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}
.resumebtn .btn:hover {
  background: #1a047e;
}
.resumebtn .btn:hover i {
  transform: translateX(5px);
}
/* about media queries starts*/
@media screen and (max-width: 600px) {
  .about .row .image {
    margin-top: 2rem;
  }
  .about .row .image img:hover {
    mix-blend-mode: normal;
  }
  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }
  .about .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
  .about .row .content {
    padding: 1rem;
  }
  .about .row .content .box-container {
    gap: 0;
  }
}
/*skills*/
section.skills{
  background-color: #2E4057;
  padding: 20px;
}

 h2{
  text-align: center;
  color: white;
}
.progress-bar{
  padding: 10px;
  margin-top: 20px;
}
.skills h2{
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  padding: 55px;
}
.progress-bar{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  border: #000 2px solid;
  background-color: rgb(156, 47, 47);
  transition: 0.5s;
}
.progress-bar-item{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  padding: 40px;
  color: white;
  background-color: #2E4057;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid white;
  &:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: darkgrey;
  }

}
div.progress-bar-title{
  padding: 20px;
  border-radius: 100px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
div.progress-bar-percentage{
  padding: 10px;
  color: yellow;
  background-color: blue;
  border-radius: 100px;
  text-align: center;
  color: black;
  font-weight: bold;
  border: 2px solid white;
}
.bxl-python{
  color:blue;
  font-size: 500%;
}
.bxl-c-plus-plus
{
  font-size: 500%;
  color:darkblue;
}
.bxl-javascript{
  font-size: 500%;
  color:yellow;
}
.bxl-html5{
  font-size: 500%;
  color:red;
}
.bxl-css3{
  font-size: 500%;
  color:greenyellow;
}
.skills-content h3{
  font-size: 2rem;
  color: red;
}
.skills-content p{
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}

.progress-bar{
  flex-direction: row;
}
@media (min-width:0px) and (max-width:1024px) {
  .skills h2{
    font-size: 1.5rem;
  }
 .progress-bar{
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    border-radius: 10px;
  }
  .progress-bar-item{
    padding: 10px;
    color: white;
  }
  div.progress-bar-title{
    padding: 10px;
  }
  div.progress-bar-percentage{
    padding: 10px;
  }
  div.progress-bar-item{
    padding: 5px;
  }
  div.progress-bar-title{
    padding: 5px;
  }
  div.progress-bar-percentage{
    padding: 5px;
  }
  .skills-content{
    padding: 20px;
  }
  .skills-content h3{
    font-size: 1.2rem;
  }
  .skills-content p{
    font-size: 1rem;
  }
  .certificate-content{
    padding: 10px;
  }
  .certificate-content h3{
    font-size: 1rem;
  }
  .certificate-button{
    padding-left: 0;
  }
  .certificate-button a{
    width: 100%;
  }
}
/*education*/
.education{
  background-color: #35A79C;
  padding-bottom: 50px;
  font-size: 20px;
}

.college{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border: 2px solid black;
  align-items: center;
  background-color: #2E4057;
  color: white;
  padding-right: 50px;
}
.college img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  padding-left: 20px;
}
.college p{
  margin-left: 40px;
  font-size: 20px;
}
.college a{
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 300px;
  text-align: center;
  border-radius: 10px;
}
.college a:hover{
  background-color: red;
  transition: 0.5s ease-in-out;
}
.school{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border: 2px solid black;
  align-items: center;
  background-color: #2E4057;
  box-shadow: 0 4px 8px 0 #2E4057;
  color: white;
  padding-right: 50px;
}
.school img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.school p{
  margin-left: 40px;
  font-size: 20px;
}

.school a{
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 300px;
  text-align: center;
  border-radius: 10px;
}
.school a:hover{
  background-color: red;
  transition: 0.5s ease-in-out;
}
@media (min-width:0px) and (max-width:1024px) {
  .education{
    display: block;
    text-align: center;
    padding: 10px;
  }
  .college{
    display: block;
    text-align: center;
    padding: 20px;
  }
  .college img{
    width: 100%;
  }
  .college p{
    padding: 10px;
  }
  .college a{
    width: 100%;
  }
  .college a{
    width: 80%;
    margin-top: 10px;
  }
  .school{
    display: block;
    text-align: center;
    padding: 10px;
  }
  .school img{
    width: 100%;
  }
  .school p{
    padding: 10px;
  }
  .school a{
    width: 80%;
  }
}
/*projects*/
section.project{
  background-color: #444;
  padding: 20px;
}
 h2{
  text-align: center;
  color: white;
  font-size: 20px;
}

.project-content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  max-width: 100vh;
  gap: 20px;
}
.project-content h3{
  font: size 20px;
  padding: 20px;
  text-align: center;
  color: black;
}
.project-item p{
  padding: 20px;
  font: size 30px;
  line-height: 1.5;
  text-align: justify;
  background-color: white;
  color: black;
  transition: 0.5s ease-in-out;
  box-shadow: 0 4px 8px 0 white;
  margin-bottom: 20px;
  border-radius: 10px;
}
.btnm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.btnm a {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 200px;
  font-size: 14px;
  text-align: center;
}

.btnm a:hover {
  background-color: red;
  transition: 0.5s ease-in-out;
}
.project-content a:hover{
  background-color: red;
  transition: 0.5s ease-in-out;
}
.project-item{
  padding: 20px;
  background-color: white;
  color: black;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  box-shadow: 0 4px 8px 0 white;
  margin-bottom: 20px;
  &:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

@media (min-width:0px) and (max-width:1024px) {
  section.project{
    padding: 10px;
  }
 .project-content{
    display: block;
    text-align: center;
    padding: 20px;
  }
  .project-content img {
    width: 100%;
  }
  .project-content h3{
    padding: 10px;
  }
  .project-content p{
    padding: 10px;
  }
  .project-content a{
    width: 100%;
  }
  .project-item{
    padding: 10px;
  }
}
/*contact*/
.contact {
  background: #e5ecfb;
  min-height: 60vh;
}
.heading{
  text-align: center;
  padding: 20px;
  color: black;
}
.contact .container {
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 1.5rem;
  margin: 2rem 5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}
.contact .content .image-box {
  max-width: 60%;
  margin-left: 4rem;
}
.contact .content .image-box img {
  width: 100%;
  height: 40rem;
  position: relative;
}
.contact .content form {
  width: 45%;
  margin-right: 3.5rem;
}
form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}
form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb;
}
.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51);
}
.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid rgb(115, 3, 167);
}
.field input:focus ~ i,
.message textarea:focus ~ i {
  color: rgb(115, 3, 167);
}
form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}
form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}
form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar {
  width: 0px;
}
form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}
.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  transition: 0.3s ease;
  font-family: "Nunito", sans-serif;
}
.button-area button:hover {
  background: #421cecf5;
}
.button-area span {
  font-size: 17px;
  padding: 1rem;
  display: none;
}
.button-area button i {
  position: relative;
  top: 6px;
  left: 2px;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}
.button-area button:hover i {
  left: 8px;
}
/* contact section media queries starts */
@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
  }
  .contact .container {
    margin: 3rem 0 2rem 0;
  }
  .contact .container .content {
    padding: 18px 12px;
  }
  .contact .content .image-box {
    display: none;
  }
  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }
}
/*footer*/
footer {
  background: #2E4057;
  color: white;
  text-align: center;
  padding: 20px;
}
footer p {
  font-size: 1.5rem;
}

/* responsive footer*/
@media (max-width: 768px) {
  footer p {
    font-size: 1rem;
  }
}
.social  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.social a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 20px;
  transition: 0.5s;
}
.social a.github:hover{
  color: #0e0e0e;
}
.social a.linkedin:hover {
color: #007bb6;
}
.social a.instagram:hover {
 color: #ee00da;
}
/*scroll button*/
.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #222;
  color: white;
  padding: 15px 20px;
  border-radius: 50%;
  transition: background-color 0.3s;
  text-decoration: none;
}

.scroll-button:hover {
  background-color: #2E4057;
}

.scroll-button i {
  font-size: 20px;
  color: white;
}